/*LAYOUT*/
body{
    width: 80%;
    margin: 0 auto!important;
}
main{
    width: 100%;
    margin: -1px auto 10px;
    border: 1px solid #ADD8E6;
    background-color: #F0FFFF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
/*TEXTOS*/
h1, h2, h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ADD8E6;
    font-style: italic;
    letter-spacing: -0.05em;
}
h1{
    font-size: 2.6em;
    margin: 0 5px;
}
h4{
    font-size: 1.6em;
    margin: 0 5px;
}
p, li, figcaption{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9em;
    color: #555;
    line-height: 1.8;
}
/*TOPO*/
header img{
    width: 100%;
}
nav{
    width: 100%;
    background-color: #ADD8E6;
    margin-bottom: 50px;
}
nav img{
    float: left;
    height: 48px;
    margin: 0 20px;
}
nav ul{
    list-style: none;
    margin: 0;
    padding-left: 10px;
}
nav ul li{
    display: inline-block;
}
.menu{
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1em;
}
.menu:hover{
    padding-bottom: 7px;
    border-bottom: 3px solid #F0FFFF;
    color: #F0FFFF;
}
/*CONTEUDO*/
article{ 
    float:left;
    margin: 0 2.5%;
    width:65%;
}
section{ 
    float:right;
    width:30%;
}
aside{
    border-top: 1px solid #ADD8E6;
    border-bottom: 3px solid #ADD8E6;
    margin: 0 15px auto;
    margin-bottom: 15px;
    padding: 30px 1% 0;
    text-align: center;
}
.carousel-control-prev-icon{ 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2387CEEB' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important; 
}
.carousel-control-next-icon{ 
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2387CEEB' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important; 
} 
/*RODAPÉ*/
footer{
    clear:both;
    margin:0 auto;
    text-align: center;
}
@media (max-width: 650px){
    article, section{
        float: none;
        width: 90%;
        margin: 0 auto;
    }
    
}